In [2]:
using Plots
using CSV
#using DataFrames
#plot(sin)
using DataFrames
using CSV
df = CSV.read("sensor_data_200.txt", DataFrame; header=0)

58988×4 DataFrame
   Row │ Column1   Column2  Column3  Column4
       │ Int64     Int64    Int64    Int64
───────┼─────────────────────────────────────
     1 │ 20180122    95819      305      214
     2 │ 20180122    95822      299      211
     3 │ 20180122    95826      292      199
     4 │ 20180122    95829      321      208
     5 │ 20180122    95832      298      212
     6 │ 20180122    95835      327      212
     7 │ 20180122    95838      293      215
     8 │ 20180122    95840      309      218
     9 │ 20180122    95843      323      208
    10 │ 20180122    95846      292      217
    11 │ 20180122    95850      294      215
   ⋮   │    ⋮         ⋮        ⋮        ⋮
 58979 │ 20180124   120009      310      206
 58980 │ 20180124   120012      330      208
 58981 │ 20180124   120015      305      205
 58982 │ 20180124   120018      301      202
 58983 │ 20180124   120021      320      206
 58984 │ 20180124   120023      313      208
 58985 │ 20180124   120026      297      200
 58986 │ 20180124   120030      323      204
 58987 │ 20180124   120033      326      207
 58988 │ 20180124   120036      321      208
                           58967 rows omitted